.hidden {
  display: none;
}


/* FROM ASSESSMENT */

.application-details-row {
  border-bottom: solid;
  /*border-color: #333;*/
}



#entire-thing {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #46BFE8;
}



.error {
	color: red;
}

/*#all-applications {
  margin: auto;
  width: 1000px;
  border-style: solid;
  }*/

 /* TABLE FORMATTING */

 /** page structure **/
#wrapper {
  display: block;
  width: 1300px;
  border: solid;
  background: #FCC02D;
  margin: auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#all-applications {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
  color: white;
}

#all-applications thead {
  cursor: pointer;
  background: #00B0B6;
  border: solid;
  border-color: black;
}
#all-applications thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#all-applications thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#all-applications thead tr th.headerSortUp, #all-applications thead tr th.headerSortDown {
  background: #acc8dd;
}

#all-applications thead tr th.headerSortUp span {
  background-image: url('http://i.imgur.com/SP99ZPJ.png');
}
#all-applications thead tr th.headerSortDown span {
  background-image: url('http://i.imgur.com/RkA9MBo.png');
}

#all-applications tbody tr {
  color: #555;
}
#all-applications tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#all-applications tbody tr td.lalign {
  text-align: left;
}



#edit-button {
  display: inline-block;
  float: left;
  padding-bottom: -50px;
  color: red;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 5px;
}

.submit-container-too {
  float: left;
  display: inline-block;
  margin: 0 0 30px 15px;
}

.submit-container-one {
  margin-left: 40px;
  display: inline-block;
}




