<section>
	<h1>The JHunters Reprieve</h1>
	<h2>Job Hunt Tracker and Monotony Reduction System</h2>
</section>

<section>

<h2> Sign up! </h2>

	<form action="/users" method="POST">
	  <label for="user[username]">User name:</label>
	  <input type="text" name="user[username]" value="<%= @user.username %>">
	  <br>
	  <%= erb :"_form" %>
	  <input type="submit" value="Sign up!">
	</form>

</section>